{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Gallery</h4>
                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="form-group">
                          <label for="image">Main Image</label>
                          <input type="file" class="form-control" id="image" name="image">
                      </div>
                      <button type="submit" class="btn btn-primary me-2">Submit</button>
                  </form>
                  
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CKEditor 5 -->
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    ClassicEditor
      .create(document.querySelector('#blog_details'), {
        toolbar: [
          'heading', '|',
          'bold', 'italic', 'underline', 'strikethrough', 'link', 'uploadFile', '|',
          'bulletedList', 'numberedList', 'blockQuote', '|',
          'insertTable', 'imageUpload', 'mediaEmbed', 'undo', 'redo'
        ],
        ckfinder: {
          uploadUrl: '{% url "ckeditor_upload" %}'
        },
        simpleUpload: {
          uploadUrl: '{% url "ckeditor_upload" %}',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        }
      })
      .catch(error => {
        console.error(error);
      });
  });
</script>
{% endblock %} 