{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="{% url 'index' %}">Home</a></li>
                        <li><span>Contact Us</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title">About us</h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
             <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
            <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->

        <section class="about-two section-space">
            <div class="container">
                <div class="row gutter-y-60">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="about-two__image">
                            <img src="{% static 'assets/images/about-2-1.jpg' %}" alt="about image" class="about-two__image__one">
                            <img src="{% static 'assets/images/about-2-2.jpg' %}" alt="about image" class="about-two__image__two">
                            <img src="{% static 'assets/images/shapes/about-shape-2-1.png' %}" alt="shape" class="about-two__image__shape-one">
                            <div class="about-two__image__shape-box"></div><!-- /.about-two__image__shape-box -->
                        </div><!-- /.about-two__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="about-two__content">
                            <div class="sec-title wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <h6 class="sec-title__tagline">ABOUT US</h6><!-- /.sec-title__tagline -->
                                <h3 class="sec-title__title">Learn New Skills <span class="sec-title__title__shape">To Go Ahead For</span> <br> Your <span class="sec-title__title__text">Career</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="about-two__description wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <p class="about-two__text">Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the.</p><!-- /.about-two__text -->
                            </div><!-- /.about-two__description -->
                            <div class="about-two__row row">
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Flexible Course Plan</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Educator Support</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Expert mentors</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Lifetime Access</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                            </div><!-- /.about-two__row row -->
                            <div class="about-two__button wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <a href="about.html" class="eduhive-btn">
                                    <span>About us</span>
                                    <span class="eduhive-btn__icon">
                                        <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                                    </span>
                                </a><!-- /.eduhive-btn -->
                            </div><!-- /.about-two__button -->
                        </div><!-- /.about-two__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row gutter-y-60 -->
            </div><!-- /.container -->
        </section><!-- /.about-two section-space -->

        <section class="funfact-one funfact-one--round">
            <div class="container">
                <div class="funfact-one__grid">
                    <div class="funfact-one__item funfact-one__item--secondary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="funfact-one__icon">
                            <span class="funfact-one__icon__inner"><i class="icon-connectibity"></i></span>
                        </div><!-- /.funfact-one__icon -->
                        <h3 class="funfact-one__title count-box">
                            <span class="count-text" data-stop="30" data-speed="1500">0</span>
                            <span>k+</span>
                        </h3><!-- /.funfact-one__title -->
                        <p class="funfact-one__text">Satisfied Student</p><!-- /.funfact-one__text -->
                    </div><!-- /.funfact-one__item -->
                    <div class="funfact-one__item funfact-one__item--primary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="funfact-one__icon">
                            <span class="funfact-one__icon__inner"><i class="icon-batch-assign"></i></span>
                        </div><!-- /.funfact-one__icon -->
                        <h3 class="funfact-one__title count-box">
                            <span class="count-text" data-stop="6500" data-speed="1500">0</span>
                            <span>+</span>
                        </h3><!-- /.funfact-one__title -->
                        <p class="funfact-one__text">Class Completed</p><!-- /.funfact-one__text -->
                    </div><!-- /.funfact-one__item -->
                    <div class="funfact-one__item funfact-one__item--secondary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="funfact-one__icon">
                            <span class="funfact-one__icon__inner"><i class="icon-students"></i></span>
                        </div><!-- /.funfact-one__icon -->
                        <h3 class="funfact-one__title count-box">
                            <span class="count-text" data-stop="6561" data-speed="1500">0</span>
                            <span>+</span>
                        </h3><!-- /.funfact-one__title -->
                        <p class="funfact-one__text">Active Students</p><!-- /.funfact-one__text -->
                    </div><!-- /.funfact-one__item -->
                    <div class="funfact-one__item funfact-one__item--primary wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <div class="funfact-one__icon">
                            <span class="funfact-one__icon__inner"><i class="icon-instructors"></i></span>
                        </div><!-- /.funfact-one__icon -->
                        <h3 class="funfact-one__title count-box">
                            <span class="count-text" data-stop="400" data-speed="1500">0</span>
                            <span>+</span>
                        </h3><!-- /.funfact-one__title -->
                        <p class="funfact-one__text">Experts Instructors</p><!-- /.funfact-one__text -->
                    </div><!-- /.funfact-one__item -->
                </div><!-- /.rfunfact-one__grid -->
            </div><!-- /.container -->
        </section><!-- /.funfact-one -->

        
         {% endblock %}