{% extends "base.html" %}
{% load static %}

{% block content %}

        {% comment %} <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="{% url 'index' %}">Home</a></li>
                        <li><span>Contact Us</span></li>
                    </ul>
                    <h2 class="page-header__title">About us</h2>
                </div>
            </div>
             <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
            <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div>
            <div class="page-header__shape-four"></div>
        </section> {% endcomment %}

        <section class="cta-one">
            <div class="container">
                <div class="cta-one__content wow fadeInUp" data-wow-duration="1500ms">
                    <h2 class="cta-one__title">About Us <br>
                       </h2><!-- /.cta-one__title -->
                    <a href="{% url 'contact' %}" class="eduhive-btn">
                        <span>get started now</span>
                        <span class="eduhive-btn__icon">
                            <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                        </span>
                    </a><!-- /.eduhive-btn -->
                </div><!-- /.cta-one__conten -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/cta-1-1.png' %}" alt="shape" class="cta-one__image-one">
            <img src="{% static 'assets/images/cta-1-2.png' %}" alt="shape" class="cta-one__image-two">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-one">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-two">
            <div class="cta-one__shape-box-one"></div><!-- /.cta-one__shape-box-one -->
            <div class="cta-one__shape-box-two wow fadeInRight" data-wow-duration="1500ms"></div><!-- /.cta-one__shape-box-two -->
        </section><!-- /.cta-one -->

        

        <br><br>

        <section class="about-two section-space">
            <div class="container">
                <div class="row gutter-y-60">
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="about-two__image">
                            <img src="{% static 'assets/images/about-2-1.jpg' %}" alt="about image" class="about-two__image__one">
                            <img src="{% static 'assets/images/about-2-2.jpg' %}" alt="about image" class="about-two__image__two">
                            <img src="{% static 'assets/images/shapes/about-shape-2-1.png' %}" alt="shape" class="about-two__image__shape-one">
                            <div class="about-two__image__shape-box"></div><!-- /.about-two__image__shape-box -->
                        </div><!-- /.about-two__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="about-two__content">
                            <div class="sec-title wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <h6 class="sec-title__tagline">ABOUT US</h6><!-- /.sec-title__tagline -->
                                <h3 class="sec-title__title">Learn New Skills <span class="sec-title__title__shape">To Go Ahead For</span> <br> Your <span class="sec-title__title__text">Career</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="about-two__description wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                <p class="about-two__text">At Cozmek, we believe in nurturing talent and enabling collaboration. Through initiatives like  DIP (Development Implementation Platform), we bridge the gap between academia and industry, offering students and professionals hands-on experience in live AI projects.<br><br>

With a rapidly growing team of innovators, researchers, and developers, Cozmek is not just shaping products—we're shaping the future.

Join us in redefining what’s possible with AI</p><!-- /.about-two__text -->
                            </div><!-- /.about-two__description -->
                            <div class="about-two__row row">
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Flexible Course Plan</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Educator Support</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Expert mentors</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="about-two__info">
                                        <span class="about-two__info__icon">
                                            <i class="icon-check-2"></i>
                                        </span><!-- /.about-two__info__icon -->
                                        <h4 class="about-two__info__title">Lifetime Access</h4><!-- /.about-two__info__title -->
                                    </div><!-- /.about-two__info -->
                                </div><!-- /.col-sm-6 -->
                            </div><!-- /.about-two__row row -->
                            
                        </div><!-- /.about-two__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row gutter-y-60 -->
            </div><!-- /.container -->
        </section><!-- /.about-two section-space -->


        <section class="about-one section-space" id="about">
            <div class="about-one__bg" style="background-image: url(assets/images/shapes/about-bg-1-1.png);"></div><!-- /.about-one__bg -->
            
            <div class="container">
                <div class="course-instructor-details__inner">
                    <div class="course-instructor-details__image">
                        <img src="{% static 'assets/images/m1.jpg' %}" alt="Aleesha Brown">
                    </div><!-- /.course-instructor-details__image -->
                    <div class="course-instructor-details__info">
                        <h3 class="course-instructor-details__name">Yadukrishna M A</h3><!-- /.instructor__name -->
                        <p class="course-instructor-details__designation">Co-Founder and CEO</p><!-- /.instructor__designation -->
                        <p class="course-instructor-details__text">Adipiscing elit. Mauris viverra nisl quis mollis laoreet. Ut eget lacus a felis accumsan pharetra in dignissim enim. In amet odio mollis urna aliquet volutpat. Sed bibendum nisl vehicula imperdiet imperdiet, augue massa fringilla.</p><!-- /.instructor__text -->
                        <div class="course-instructor-details__course-info">
                            <div class="course-instructor-details__experience">
                                Experience: <span>10 Years</span>
                            </div><!-- /.instructor__experience -->
                            
                        </div>
                        <div class="course-instructor-details__social social-links-two">
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Instagram</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Youtube</span>
                            </a>
                        </div><!-- /.course-instructor-details__social -->
                    </div><!-- /.course-instructor-details__info -->
                </div><!-- /.course-instructor-details__inner -->
            </div><!-- /.container -->


            <br><br>
            <div class="container">
                <div class="course-instructor-details__inner">
                    <div class="course-instructor-details__image">
                        <img src="{% static 'assets/images/m5.jpeg' %}" alt="Aleesha Brown">
                    </div><!-- /.course-instructor-details__image -->
                    <div class="course-instructor-details__info">
                        <h3 class="course-instructor-details__name">Thanveerul Islam</h3><!-- /.instructor__name -->
                        <p class="course-instructor-details__designation">Co-Founder and CMO</p><!-- /.instructor__designation -->
                        <p class="course-instructor-details__text">Adipiscing elit. Mauris viverra nisl quis mollis laoreet. Ut eget lacus a felis accumsan pharetra in dignissim enim. In amet odio mollis urna aliquet volutpat. Sed bibendum nisl vehicula imperdiet imperdiet, augue massa fringilla.</p><!-- /.instructor__text -->
                        <div class="course-instructor-details__course-info">
                            <div class="course-instructor-details__experience">
                                Experience: <span>10 Years</span>
                            </div><!-- /.instructor__experience -->
                            
                        </div><!-- /.course-instructor-details__course-info -->
                        <div class="course-instructor-details__social social-links-two">
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Instagram</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Youtube</span>
                            </a>
                        </div><!-- /.course-instructor-details__social -->
                    </div><!-- /.course-instructor-details__info -->
                </div><!-- /.course-instructor-details__inner -->
            </div><!-- /.container -->
        </section>


       

        <br><br>
        
         {% endblock %}