{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="{% url 'index' %}">Home</a></li>
                        <li><span>Contact Us</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title">About us</h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
             <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
            <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->

        <br><br>

        


       <section class="course-instructor-details">
            <div class="container">
                <div class="course-instructor-details__inner">
                    <div class="course-instructor-details__image">
                        <img src="{% static 'assets/images/m1.jpg' %}" alt="Aleesha Brown">
                    </div><!-- /.course-instructor-details__image -->
                    <div class="course-instructor-details__info">
                        <h3 class="course-instructor-details__name">Yadukrishna M A</h3><!-- /.instructor__name -->
                        <p class="course-instructor-details__designation">Co-Founder and CEO</p><!-- /.instructor__designation -->
                        <p class="course-instructor-details__text">Adipiscing elit. Mauris viverra nisl quis mollis laoreet. Ut eget lacus a felis accumsan pharetra in dignissim enim. In amet odio mollis urna aliquet volutpat. Sed bibendum nisl vehicula imperdiet imperdiet, augue massa fringilla.</p><!-- /.instructor__text -->
                        <div class="course-instructor-details__course-info">
                            <div class="course-instructor-details__experience">
                                Experience: <span>10 Years</span>
                            </div><!-- /.instructor__experience -->
                            
                        </div>
                        <div class="course-instructor-details__social social-links-two">
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Instagram</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Youtube</span>
                            </a>
                        </div><!-- /.course-instructor-details__social -->
                    </div><!-- /.course-instructor-details__info -->
                </div><!-- /.course-instructor-details__inner -->
            </div><!-- /.container -->
        </section><!-- /.course-instructor-details -->

<br><br>
        <section class="course-instructor-details">
            <div class="container">
                <div class="course-instructor-details__inner">
                    <div class="course-instructor-details__image">
                        <img src="{% static 'assets/images/m5.jpeg' %}" alt="Aleesha Brown">
                    </div><!-- /.course-instructor-details__image -->
                    <div class="course-instructor-details__info">
                        <h3 class="course-instructor-details__name">Thanveerul Islam</h3><!-- /.instructor__name -->
                        <p class="course-instructor-details__designation">Co-Founder and CMO</p><!-- /.instructor__designation -->
                        <p class="course-instructor-details__text">Adipiscing elit. Mauris viverra nisl quis mollis laoreet. Ut eget lacus a felis accumsan pharetra in dignissim enim. In amet odio mollis urna aliquet volutpat. Sed bibendum nisl vehicula imperdiet imperdiet, augue massa fringilla.</p><!-- /.instructor__text -->
                        <div class="course-instructor-details__course-info">
                            <div class="course-instructor-details__experience">
                                Experience: <span>10 Years</span>
                            </div><!-- /.instructor__experience -->
                            
                        </div><!-- /.course-instructor-details__course-info -->
                        <div class="course-instructor-details__social social-links-two">
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Instagram</span>
                            </a>
                            <a href="">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">Youtube</span>
                            </a>
                        </div><!-- /.course-instructor-details__social -->
                    </div><!-- /.course-instructor-details__info -->
                </div><!-- /.course-instructor-details__inner -->
            </div><!-- /.container -->
        </section><!-- /.course-instructor-details -->

        <br><br>
        
         {% endblock %}