{% extends "base.html" %}
{% load static %}

{% block content %}
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="index.html">Home</a></li>
                        <li><span>Our Blog</span></li>
                        <li><span>There are many variations of passages of available but majority</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title">There are many variations of passages of available but majority</h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
            <img src="assets/images/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
            <img src="assets/images/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->

        <section class="blog-details-page section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="blog-details">
                            <div class="blog-card blog-card--three wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="blog-card__image">
                                    <img src="{% static 'assets/images/blog-d-1-1.jpg' %}" alt="blog details">
                                    <div class="blog-card__date">
                                        <span class="blog-card__date__day">25</span>
                                        <span class="blog-card__date__month">June</span>
                                    </div><!-- /.blog-card__date -->
                                </div><!-- /.blog-card__image -->
                                <div class="blog-card__content">
                                    <ul class="list-unstyled blog-card__meta">
                                        <li>
                                            <a href="#">
                                                <span class="blog-card__meta__icon">
                                                    <i class="far fa-user"></i>
                                                </span>
                                                by Admin
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="blog-card__meta__icon">
                                                    <i class="icon-comments"></i>
                                                </span>
                                                2 Comments
                                            </a>
                                        </li>
                                    </ul><!-- /.list-unstyled blog-card__meta -->
                                    <h3 class="blog-card__title">There are many variations of passages of available but majority</h3>
                                    <!-- /.blog-card__title -->
                                    <div class="blog-card__content__inner">
                                        <p class="blog-card__text">Neque Porro Est Qui Dolorem Ipsum Quia Quaed Inventor
                                            Veritatis Et Quasi Architecto Beatae Vitae Dicta Sunt Explicabo. Aelltes Port Lacus Quis Enim Var
                                            Sed Efficitur Turpis Gilla Sed Sit Amet Finibus Eros. Lorem Ipsum Is Simply Dummy Text Of The
                                            Printing And Typesetting Industry.</p><!-- /.blog-card__text -->
                                        <p class="blog-card__text">When An Unknown Printer Took A Galley Of Type And
                                            Scrambled It To Make A Type Specimen Book. It Has Survived Not Only Five Centuries, But Also The
                                            Leap Into Electronic Typesetting, Remaining Essentially Unchanged. Aelltes Port Lacus Quis Enim Var
                                            Sed Efficitur</p><!-- /.blog-card__text -->
                                    </div><!-- /.blog-card__content__inner -->
                                </div><!-- /.blog-card-four__content -->
                            </div><!-- /.blog-card -->
                            
                            <div class="blog-details__meta">
                                <div class="blog-details__categories">
                                    <h4 class="blog-details__meta__title">categories:</h4><!-- /.blog-details__meta__title -->
                                    <div class="blog-details__categories__box">
                                        <a href="blog-details-right.html" class="blog-details__categories__btn">Computer Science</a>
                                        <a href="blog-details-right.html" class="blog-details__categories__btn">Arts & Design</a>
                                    </div>
                                    <!--blog-details__categories__box -->
                                </div><!-- /.blog-details__categories -->
                                <div class="blog-details__tags">
                                    <h4 class="blog-details__meta__title">Tags:</h4><!-- /.blog-details__meta__title -->
                                    <div class="blog-details__tags__box">
                                        <a href="blog-details-right.html">education</a>
                                        <a href="blog-details-right.html">coach</a>
                                    </div><!-- /.blog-details__tag__box-->
                                </div><!-- /.blog-details__tags -->
                            </div><!-- /.blog-details__meta -->
                        </div><!-- /.blog-details -->

                        

                        <div class="comments-form">
                            <h3 class="comments-form__title">Leave a Comment</h3><!-- /.comments-form__title -->
                            <form action="assets/inc/sendemail.php" class="comments-form__form contact-form-validated form-one">
                                <div class="form-one__group">
                                    <div class="form-one__control wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                        <input type="text" name="name" placeholder="Your Name">
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="50ms">
                                        <input type="email" name="email" placeholder="Your Email">
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control form-one__control--full wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                        <textarea name="message" placeholder="Write Message . ."></textarea>
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control form-one__control--full wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="150ms">
                                        <button type="submit" class="comments-form__btn eduhive-btn eduhive-btn--normal"><span>Post Comment</span></button><!-- /.eduhive-btn -->
                                    </div><!-- /.form-one__control -->
                                </div><!-- /.form-one__group -->
                            </form><!-- /.comments-form__form -->
                            <div class="result"></div><!-- /.result -->
                        </div><!-- /.comments-form -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-details-page section-space -->

         {% endblock %}