{% extends "base.html" %}
{% load static %}

{% block content %}
        

        <section class="cta-one">
            <div class="container">
                <div class="cta-one__content wow fadeInUp" data-wow-duration="1500ms">
                    <h2 class="cta-one__title">Blog Details<br>
                       </h2><!-- /.cta-one__title -->
                    <a href="{% url 'contact' %}" class="eduhive-btn">
                        <span>get started now</span>
                        <span class="eduhive-btn__icon">
                            <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                        </span>
                    </a><!-- /.eduhive-btn -->
                </div><!-- /.cta-one__conten -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/cta-1-1.png' %}" alt="shape" class="cta-one__image-one">
            <img src="{% static 'assets/images/cta-1-2.png' %}" alt="shape" class="cta-one__image-two">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-one">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-two">
            <div class="cta-one__shape-box-one"></div><!-- /.cta-one__shape-box-one -->
            <div class="cta-one__shape-box-two wow fadeInRight" data-wow-duration="1500ms"></div><!-- /.cta-one__shape-box-two -->
        </section>

        <section class="blog-details-page section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="blog-details">
                           

                            <div class="blog-card blog-card--three wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="blog-card__image">
                                    <img src="{{ blog.main_image.url }}" alt="{{ blog.blog_heading }}">
                                    {% if blog.date %}
                                    <div class="blog-card__date">
                                        <span class="blog-card__date__day">{{ blog.date.day }}</span>
                                        <span class="blog-card__date__month">{{ blog.date|date:"F" }}</span>
                                    </div>
                                    {% endif %}
                                </div><!-- /.blog-card__image -->

                                <div class="blog-card__content">
                                    <h3 class="blog-card__title">{{ blog.blog_heading }}</h3>

                                    <div class="blog-card__content__inner">
                                        <p class="blog-card__text">{{ blog.blog_details|safe|linebreaks }}</p>
                                    </div><!-- /.blog-card__content__inner -->
                                </div><!-- /.blog-card__content -->
                            </div>

                            
                            
                        </div><!-- /.blog-details -->

                        

                        <div class="comments-form">
                            <h3 class="comments-form__title">Leave a Comment</h3><!-- /.comments-form__title -->
                            <form action="assets/inc/sendemail.php" class="comments-form__form contact-form-validated form-one">
                                <div class="form-one__group">
                                    <div class="form-one__control wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                        <input type="text" name="name" placeholder="Your Name">
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="50ms">
                                        <input type="email" name="email" placeholder="Your Email">
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control form-one__control--full wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                                        <textarea name="message" placeholder="Write Message . ."></textarea>
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control form-one__control--full wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="150ms">
                                        <button type="submit" class="comments-form__btn eduhive-btn eduhive-btn--normal"><span>Post Comment</span></button><!-- /.eduhive-btn -->
                                    </div><!-- /.form-one__control -->
                                </div><!-- /.form-one__group -->
                            </form><!-- /.comments-form__form -->
                            <div class="result"></div><!-- /.result -->
                        </div><!-- /.comments-form -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-details-page section-space -->

         {% endblock %}