{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="cta-one">
            <div class="container">
                <div class="cta-one__content wow fadeInUp" data-wow-duration="1500ms">
                    <h2 class="cta-one__title">Course Details<br>
                       </h2><!-- /.cta-one__title -->
                    <a href="{% url 'contact' %}" class="eduhive-btn">
                        <span>get started now</span>
                        <span class="eduhive-btn__icon">
                            <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                        </span>
                    </a><!-- /.eduhive-btn -->
                </div><!-- /.cta-one__conten -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/cta-1-1.png' %}" alt="shape" class="cta-one__image-one">
            <img src="{% static 'assets/images/cta-1-2.png' %}" alt="shape" class="cta-one__image-two">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-one">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-two">
            <div class="cta-one__shape-box-one"></div><!-- /.cta-one__shape-box-one -->
            <div class="cta-one__shape-box-two wow fadeInRight" data-wow-duration="1500ms"></div><!-- /.cta-one__shape-box-two -->
        </section>

        <section class="course-details section-space">
    <div class="container">
        <div class="row gutter-y-40">
            <div class="col-xl-8 col-lg-7">
                <div class="course-details__inner">
                    <h3 class="course-details__title">{{ courses.title }}</h3>

                    <div class="course-details__info-wrapper">
                        


                        <div class="course-details__class">
                            <span class="course-details__class__icon"><i class="icon-video"></i></span>
                            <p class="course-details__class__text">{{ courses.total_classes }} Classes</p>
                        </div>

                        <div class="course-details__review">
                            <span class="course-details__review__icon"><i class="icon-star"></i></span>
                            <p class="course-details__review__text"><span>{{ courses.rating }}</span> <span>(Based on Reviews)</span></p>
                        </div>
                    </div>

                    <div class="course-details__image">
                        <img src="{{ courses.image.url }}" alt="{{ courses.course_name }}">
                        {% comment %} {% if course.course_video %}
                            <a href="{{ course.course_video.url }}" class="course-details__video-btn video-btn video-popup">
                                <i class="icon-play"></i>
                                <span></span><span></span><span></span><span></span>
                            </a>
                        {% endif %} {% endcomment %}
                        {% comment %} <span class="course-details__category">Technology</span> {% endcomment %}
                    </div>

                    <div class="course-details__description wow fadeInUp" data-wow-duration="1500ms">
                        <h3 class="course-details__title course-details__title--description">Course Descriptions</h3>
                        <div class="course-details__description__inner">
                            <p class="course-details__description__text">{{ courses.coaching_details|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-5 wow fadeInUp">
                <div class="course-details__info">
                    <h3 class="course-details__info__title">Course includes:</h3>
                    <ul class="course-details__info__list list-unstyled">
                        <li><span>Level: </span> {{ courses.level }}</li>
                        <li><span>Duration: </span> {{ courses.duration_months }} months</li>
                        <li><span>Lessons: </span> {{ courses.lessons }}</li>
                        <li><span>Students: </span> {{ courses.student_count }}</li>
                        <li><span>Certifications: </span> {{ courses.certification }}</li>
                        <li><span>Language: </span> {{ courses.language }}</li>
                        <li><span>Next Batch: </span> {{ courses.upcoming_batch }}</li>
                        <li><span>Available Seats: </span> {{ courses.seats_available }}</li>
                    </ul>

                    <div class="course-details__info__price">This course Fee ₹{{ courses.course_fee }}</div>

                    {% if courses.course_brochure %}
                        <a href="{{ courses.course_brochure.url }}" class="course-details__info__btn eduhive-btn" download>
                            <span class="eduhive-btn__text">Download Brochure</span>
                            <span class="eduhive-btn__icon"><i class="icon-arrow-right"></i></span>
                        </a>
                    {% endif %}

                    
                </div>
            </div>
        </div>
    </div>
</section>


        

        
        {% endblock %}