{% extends "base.html" %}
{% load static %}

{% block content %}

        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="{% url 'index' %}">Home</a></li>
                        <li><span>Course Details</span></li>
                        <li><span>{{ course.title }}</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title"></h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
            <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->

        <section class="course-details section-space">
    <div class="container">
        <div class="row gutter-y-40">
            <div class="col-xl-8 col-lg-7">
                <div class="course-details__inner">
                    <h3 class="course-details__title">{{ course.title }}</h3>

                    <div class="course-details__info-wrapper">
                        


                        <div class="course-details__class">
                            <span class="course-details__class__icon"><i class="icon-video"></i></span>
                            <p class="course-details__class__text">{{ course.total_classes }} Classes</p>
                        </div>

                        <div class="course-details__review">
                            <span class="course-details__review__icon"><i class="icon-star"></i></span>
                            <p class="course-details__review__text"><span>{{ course.rating }}</span> <span>(Based on Reviews)</span></p>
                        </div>
                    </div>

                    <div class="course-details__image">
                        <img src="{{ course.image.url }}" alt="{{ course.course_name }}">
                        {% comment %} {% if course.course_video %}
                            <a href="{{ course.course_video.url }}" class="course-details__video-btn video-btn video-popup">
                                <i class="icon-play"></i>
                                <span></span><span></span><span></span><span></span>
                            </a>
                        {% endif %} {% endcomment %}
                        {% comment %} <span class="course-details__category">Technology</span> {% endcomment %}
                    </div>

                    <div class="course-details__description wow fadeInUp" data-wow-duration="1500ms">
                        <h3 class="course-details__title course-details__title--description">Course Descriptions</h3>
                        <div class="course-details__description__inner">
                            <p class="course-details__description__text">{{ course.coaching_details|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-5 wow fadeInUp">
                <div class="course-details__info">
                    <h3 class="course-details__info__title">Course includes:</h3>
                    <ul class="course-details__info__list list-unstyled">
                        <li><span>Level: </span> {{ course.level }}</li>
                        <li><span>Duration: </span> {{ course.duration_months }} months</li>
                        <li><span>Lessons: </span> {{ course.lessons }}</li>
                        <li><span>Students: </span> {{ course.student_count }}</li>
                        <li><span>Certifications: </span> {{ course.certification }}</li>
                        <li><span>Language: </span> {{ course.language }}</li>
                        <li><span>Next Batch: </span> {{ course.upcoming_batch }}</li>
                        <li><span>Available Seats: </span> {{ course.seats_available }}</li>
                    </ul>

                    <div class="course-details__info__price">This course Fee ₹{{ course.course_fee }}</div>

                    {% if course.course_brochure %}
                        <a href="{{ course.course_brochure.url }}" class="course-details__info__btn eduhive-btn" download>
                            <span class="eduhive-btn__text">Download Brochure</span>
                            <span class="eduhive-btn__icon"><i class="icon-arrow-right"></i></span>
                        </a>
                    {% endif %}

                    
                </div>
            </div>
        </div>
    </div>
</section>


        

        
        {% endblock %}