
{% extends "base.html" %}
{% load static %}
{% block content %}


        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="{% url 'index' %}">Home</a></li>
                        <li><span>our courses</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title">our courses 02</h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
            <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->

        <section class="courses-page courses-page--two section-space">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-lg-6">
                        <div class="course-card course-card--two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                            <div class="course-card__image">
                                <img src="{% static 'assets/images/course-2-1.jpg' %}" alt="WordPress for Everyone: Unlock Your Creativity Online">
                            </div><!-- /.course-card__image -->
                            <div class="course-card__content">
                                <div class="course-card__content__top">
                                    <div class="course-card__category">Experts</div><!-- /.course-card__category -->
                                    <div class="course-card__duration">
                                        <span class="course-card__duration__icon">
                                            <i class="icon-clock"></i>
                                        </span><!-- /.course-card__duration__icon -->
                                        25 weeks
                                    </div><!-- /.course-card__duration -->
                                </div><!-- /.course-card__content__top -->
                                <h3 class="course-card__title"><a href="wordpress-development.html">Python Fullstack: Unlock Your Creativity Online</a></h3><!-- /.course-card__title -->
                                <div class="course-card__info">
                                    <div class="course-card__lessons">
                                        <span class="course-card__lessons__icon">
                                            <i class="icon-open-book"></i>
                                        </span><!-- /.course-card__lessons__icon -->
                                        25 lessons
                                    </div><!-- /.course-card__lessons -->
                                    <div class="course-card__students">
                                        <span class="course-card__students__icon">
                                            <i class="icon-multiple-users-silhouette"></i>
                                        </span><!-- /.course-card__lessons__icon -->
                                        350 Students
                                    </div><!-- /.course-card__students -->
                                </div><!-- /.course-card__info -->
                                <div class="course-card__ratings">
                                    <div class="eduhive-ratings">
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                    </div><!-- /.product-ratings -->
                                    <p class="course-card__ratings__text">5 Ratings</p><!-- /.course-card__ratings__text -->
                                </div><!-- /.course-card__ratings -->
                                <h4 class="course-card__price">₹<span>69.00</span></h4><!-- /.course-card__price -->
                            </div><!-- /.course-card__content -->
                        </div><!-- /.course-card -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="course-card course-card--two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="course-card__image">
                                <img src="{% static 'assets/images/course-2-2.jpg' %}" alt="The Data Science Revolution: Upgrading Your Skills">
                            </div><!-- /.course-card__image -->
                            <div class="course-card__content">
                                <div class="course-card__content__top">
                                    <div class="course-card__category">Experts</div><!-- /.course-card__category -->
                                    <div class="course-card__duration">
                                        <span class="course-card__duration__icon">
                                            <i class="icon-clock"></i>
                                        </span><!-- /.course-card__duration__icon -->
                                        20 weeks
                                    </div><!-- /.course-card__duration -->
                                </div><!-- /.course-card__content__top -->
                                <h3 class="course-card__title"><a href="data-science.html">The Data Science Revolution: Upgrading Your Skills</a></h3><!-- /.course-card__title -->
                                <div class="course-card__info">
                                    <div class="course-card__lessons">
                                        <span class="course-card__lessons__icon">
                                            <i class="icon-open-book"></i>
                                        </span><!-- /.course-card__lessons__icon -->
                                        20 lessons
                                    </div><!-- /.course-card__lessons -->
                                    <div class="course-card__students">
                                        <span class="course-card__students__icon">
                                            <i class="icon-multiple-users-silhouette"></i>
                                        </span><!-- /.course-card__lessons__icon -->
                                        300 Students
                                    </div><!-- /.course-card__students -->
                                </div><!-- /.course-card__info -->
                                <div class="course-card__ratings">
                                    <div class="eduhive-ratings">
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                        <span class="eduhive-ratings__icon">
                                            <i class="fa fa-star"></i>
                                        </span><!-- /.eduhive-ratings__icon -->
                                    </div><!-- /.product-ratings -->
                                    <p class="course-card__ratings__text">5 Ratings</p><!-- /.course-card__ratings__text -->
                                </div><!-- /.course-card__ratings -->
                                <h4 class="course-card__price">₹<span>50.00</span></h4><!-- /.course-card__price -->
                            </div><!-- /.course-card__content -->
                        </div><!-- /.course-card -->
                    </div><!-- /.col-lg-6 -->
                   
                    
                </div><!-- /.row gutter-y-30 -->
            </div><!-- /.container -->
        </section><!-- /.courses-page section-space -->

        {% endblock %}