{% extends "base.html" %}
{% load static %}

{% block content %}
        <section class="cta-one">
            <div class="container">
                <div class="cta-one__content wow fadeInUp" data-wow-duration="1500ms">
                    <h2 class="cta-one__title">Upcoming Events <br>
                       </h2><!-- /.cta-one__title -->
                    <a href="{% url 'contact' %}" class="eduhive-btn">
                        <span>get started now</span>
                        <span class="eduhive-btn__icon">
                            <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                        </span>
                    </a><!-- /.eduhive-btn -->
                </div><!-- /.cta-one__conten -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/cta-1-1.png' %}" alt="shape" class="cta-one__image-one">
            <img src="{% static 'assets/images/cta-1-2.png' %}" alt="shape" class="cta-one__image-two">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-one">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-two">
            <div class="cta-one__shape-box-one"></div><!-- /.cta-one__shape-box-one -->
            <div class="cta-one__shape-box-two wow fadeInRight" data-wow-duration="1500ms"></div><!-- /.cta-one__shape-box-two -->
        </section><!-- /.cta-one -->

        <section class="events-page section-space">
            <div class="container">
                
                <div class="row gutter-y-30">
                    {% for event in events %}
                    <div class="col-xl-4 col-md-6">
                        <div class="event-card" data-wow-duration="1500ms" data-wow-delay="00ms">
                            <div class="event-card__image" style="background-image: url('{{ event.main_image.url }}')">
                                <a href="{% url 'event_details' event.id %}" class="event-card__image__link">
                                    <span class="sr-only">{{ event.event_heading }}</span>
                                </a>
                                <div class="event-card__image__inner">
                                    <div class="event-card__time">
                                        <span class="event-card__time__icon">
                                            <i class="icon-clock-1"></i>
                                        </span>
                                        <p class="event-card__time__text">
                                            <span>{{ event.start_date}}</span>
                                            <span class="event-card__time__divider">-</span>
                                            <span>{{ event.end_date}}</span>
                                        </p>
                                    </div>
                                    <div class="event-card__date">
                                        <span>{{ event.start_date|date:"d" }}</span>
                                        <span>{{ event.start_date|date:"b" }}</span>
                                    </div>
                                </div>
                            </div>
                            <h3 class="event-card__title">
                                <a href="{% url 'event_details' event.id %}">{{ event.event_heading }}</a>
                            </h3>
                            <div class="event-card__description">
                                <p>{{ event.event_details|safe|truncatewords:15 }}</p>
                            </div>
                            <div class="event-card__location">
                                <span class="event-card__location__icon">
                                    <i class="icon-location"></i>
                                </span>
                                <a href="{{ event.location }}" class="event-card__location__text">{{ event.address }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div><!-- /.container -->
        </section><!-- /.events-page section-space -->

{% endblock content %}