{% extends "base.html" %}
{% load static %}

{% block content %}
        <section class="cta-one">
            <div class="container">
                <div class="cta-one__content wow fadeInUp" data-wow-duration="1500ms">
                    <h2 class="cta-one__title">Event Details<br>
                       </h2><!-- /.cta-one__title -->
                    <a href="{% url 'contact' %}" class="eduhive-btn">
                        <span>get started now</span>
                        <span class="eduhive-btn__icon">
                            <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                        </span>
                    </a><!-- /.eduhive-btn -->
                </div><!-- /.cta-one__conten -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/cta-1-1.png' %}" alt="shape" class="cta-one__image-one">
            <img src="{% static 'assets/images/cta-1-2.png' %}" alt="shape" class="cta-one__image-two">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-one">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-two">
            <div class="cta-one__shape-box-one"></div><!-- /.cta-one__shape-box-one -->
            <div class="cta-one__shape-box-two wow fadeInRight" data-wow-duration="1500ms"></div><!-- /.cta-one__shape-box-two -->
        </section><!-- /.cta-one -->

        <section class="event-details section-space-top">
            <div class="container">
                <div class="row gutter-y-40">
                    <div class="col-xl-8 col-lg-7">
                        <div class="event-details__top wow fadeInUp" data-wow-duration="1500ms">
                            <div class="event-details__image">
                                <img src="{{events.main_image.url}}" alt="Event Details">
                                {% comment %} <p class="event-details__category">Development</p><!-- /.event-details__category --> {% endcomment %}
                            </div><!-- /.event-details__image -->
                            <h3 class="event-details__title event-details__title--top">{{events.event_heading}} </h3><!-- /.event-details__title -->
                            <div class="event-details__text-box">
                                <p class="event-details__text">{{events.event_details|safe}}</p><!-- /.event-details__text -->
                            
                            </div><!-- /.event-details__text-box -->
                        </div><!-- /.event-details__top -->
                        
                    </div><!-- /.col-xl-8 col-lg-7 -->
                    <div class="col-xl-4 col-lg-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="event-details__info">
                            <h3 class="event-details__info__title">Event Details</h3><!-- /.event-details__info__title -->
                            <ul class="event-details__info__list list-unstyled">
                                <li>
                                    <span class="event-details__info__icon"><i class="icon-date"></i></span>
                                    <div class="event-details__info__text">
                                        <span class="event-details__info__text__title">Date:</span>
                                        <span>{{ events.start_date|date:"M d, Y" }}</span>
                                    </div><!-- /.event-details__info__text -->
                                </li>
                                <li>
                                    <span class="event-details__info__icon"><i class="icon-clock-1"></i></span>
                                    <div class="event-details__info__text">
                                        <span class="event-details__info__text__title">Time:</span>
                                        <span>{{ events.start_date|time:"H:i A" }} - {{ events.end_date|time:"H:i A" }}</span>

                                        {% comment %} <span>9:00 am - 6:00 pm</span> {% endcomment %}
                                    </div><!-- /.event-details__info__text -->
                                </li>
                                <li>
                                    <span class="event-details__info__icon"><i class="icon-location-2"></i></span>
                                    <div class="event-details__info__text">
                                        <span class="event-details__info__text__title">Venue:</span>
                                        <span>{{ events.venue }}</span>
                                    </div><!-- /.event-details__info__text -->
                                </li>
                                <li>
                                    <span class="event-details__info__icon"><i class="icon-address"></i></span>
                                    <div class="event-details__info__text">
                                        <span class="event-details__info__text__title">Address:</span>
                                        <span>{{ events.address }}</span>
                                    </div><!-- /.event-details__info__text -->
                                </li>
                            </ul><!-- /.event-details__info__list -->
                            {% comment %} <div class="event-details__info__price">Event Fee $49.00</div> {% endcomment %}
                            <a href="#contact" class="event-details__info__btn eduhive-btn"  >
                                <span class="eduhive-btn__text">Join This Event</span>
                                <span class="eduhive-btn__icon">
                                    <span class="eduhive-btn__icon__inner"><i class="icon-arrow-right"></i></span>
                                </span>
                            </a><!-- /.eduhive-btn -->
                            <div class="event-details__social">
                                <h3 class="event-details__social__title">Share:</h3><!-- /.event-details__social__title -->
                                <div class="event-details__social__group social-links-two">
                                    <a href="https://facebook.com">
                                        <span class="social-links-two__icon">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </span><!-- /.social-links-two__icon -->
                                        <span class="sr-only">Facebook</span>
                                    </a>
                                    <a href="https://twitter.com">
                                        <span class="social-links-two__icon">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </span><!-- /.social-links-two__icon -->
                                        <span class="sr-only">Twitter</span>
                                    </a>
                                    <a href="https://instagram.com">
                                        <span class="social-links-two__icon">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </span><!-- /.social-links-two__icon -->
                                        <span class="sr-only">Instagram</span>
                                    </a>
                                    <a href="https://youtube.com">
                                        <span class="social-links-two__icon">
                                            <i class="fab fa-youtube" aria-hidden="true"></i>
                                        </span><!-- /.social-links-two__icon -->
                                        <span class="sr-only">Youtube</span>
                                    </a>
                                </div><!-- /.event-details__social__group -->
                            </div><!-- /.event-details__social -->
                        </div><!-- /.event-details__info -->
                    </div><!-- /.col-xl-4 col-lg-5 -->

                    <div class="become-instructor__form-box" id="contact">
                            <h3 class="become-instructor__form-box__title">Event Registration</h3>
                            {% comment %} <form class="become-instructor__form contact-form-validated form-one" action="inc/sendemail.php">
                                <div class="form-one__group">
                                    <div class="form-one__control form-one__control--full">
                                        <input type="text" name="name" placeholder="Full Name">
                                    </div><!-- /.form-one__control form-one__control--full -->
                                    <div class="form-one__control form-one__control--full">
                                        <input type="email" name="email" placeholder="Email Address">
                                    </div><!-- /.form-one__control form-one__control--full -->
                                    <div class="form-one__control form-one__control--full">
                                        <input type="tel" name="tel" placeholder="Phone Number">
                                    </div><!-- /.form-one__control form-one__control--full -->
                                    <div class="form-one__control form-one__control--full">
                                        <textarea name="message" placeholder="Comment"></textarea><!-- /# -->
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control form-one__control--full">
                                        <button type="submit" class="eduhive-btn">
                                            <span>Submit</span>
                                            <span class="eduhive-btn__icon"><i class="icon-right-up"></i></span>
                                        </button>
                                    </div><!-- /.form-one__control -->
                                </div><!-- /.form-one__group -->
                            </form><!-- /.become-instructor__form --> {% endcomment %}
                            <form method="post" class="become-instructor__form contact-form-validated form-one" action="">
                                {% csrf_token %}
                                <div class="form-one__group">

                                    <div class="form-one__control form-one__control--full">
                                        <input type="text" name="name" placeholder="Full Name" required>
                                    </div>

                                    <div class="form-one__control form-one__control--full">
                                        <input type="email" name="email" placeholder="Email Address" required>
                                    </div>

                                    <div class="form-one__control form-one__control--full">
                                        <input type="tel" name="phone" placeholder="Phone Number" required>
                                    </div>

                                    {% comment %} <div class="form-one__control form-one__control--full">
                                        <textarea name="comments" placeholder="Comment"></textarea>
                                    </div> {% endcomment %}

                                    <div class="form-one__control form-one__control--full">
                                        <button type="submit" class="eduhive-btn">
                                            <span>Submit</span>
                                            <span class="eduhive-btn__icon"><i class="icon-right-up"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="result"></div>
                        </div>
                    </div><!-- /.row gutter-y-40 -->
                
                <div class="event-details__location wow fadeInUp" data-wow-duration="1500ms">
                    <h3 class="event-details__title event-details__title--location">event location</h3><!-- /.event-details__title -->
                    <div class="event-details__location__inner">
                        <div class="google-map google-map__event-details">
                            <iframe title="template google map" src="{{ events.location }}" class="map__event-details" allowfullscreen></iframe>
                        </div>
                        <!-- /.google-map -->
                        <div class="event-details__location__direction">
                            <div class="event-details__location__direction__top">
                                <span class="event-details__location__direction__icon">
                                    <i class="icon-address"></i>
                                </span><!-- /.direction__icon -->
                                <p class="event-details__location__direction__text">
                                    <span>Address:</span> 2118 Thorndike Cir. got
                                </p><!-- /.direction__text -->
                            </div><!-- /.event-details__location__direction__top -->
                            <a href="https://www.google.com/maps" class="event-details__location__direction__btn eduhive-btn">
                                <span class="eduhive-btn__text">Get Directions</span>
                                <span class="eduhive-btn__icon">
                                    <span class="eduhive-btn__icon__inner"><i class="icon-arrow-right"></i></span>
                                </span>
                            </a><!-- /.eduhive-btn -->
                        </div><!-- /.event-details__location__direction -->
                    </div><!-- /.event-details__location__inner -->
                </div><!-- /.event-details__location -->
            </div><!-- /.container -->
        </section><!-- /.event-details section-space-top -->
        <br><br>       
{% endblock content %}