{% extends "base.html" %}
{% load static %}

{% block content %}
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <ul class="eduhive-breadcrumb list-unstyled">
                        <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="index.html">Home</a></li>
                        <li><span>Gallery</span></li>
                    </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                    <h2 class="page-header__title">Our Gallery</h2>
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/shapes/page-header-shape-1.png' %}" alt="shape" class="page-header__shape-one">
            <img src="{% static 'assets/images/shapes/page-header-shape-2.png' %}" alt="shape" class="page-header__shape-two">
            <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
            <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
        </section><!-- /.page-header -->

        <section class="gallery-page section-space">
            <div class="container">
                <div class="row">
                    {% for image in images %}
                    <div class="col-md-6 col-lg-4">
                        <div class="gallery-page__card">
                            <img src="{{ image.image.url }}" alt="Gallery Image">
                            <div class="gallery-page__card__hover">
                                <a href="{{ image.image.url }}" class="img-popup">
                                    <span class="gallery-page__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-page__card__hover -->
                        </div><!-- /.gallery-page__card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.gallery-page section-space -->


{% endblock content %}