
{% extends "base.html" %}
{% load static %}
{% block content %}


         <section class="cta-one">
            <div class="container">
                <div class="cta-one__content wow fadeInUp" data-wow-duration="1500ms">
                    <h2 class="cta-one__title">Our Instructors<br>
                       </h2><!-- /.cta-one__title -->
                    <a href="{% url 'contact' %}" class="eduhive-btn">
                        <span>get started now</span>
                        <span class="eduhive-btn__icon">
                            <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                        </span>
                    </a><!-- /.eduhive-btn -->
                </div><!-- /.cta-one__conten -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/cta-1-1.png' %}" alt="shape" class="cta-one__image-one">
            <img src="{% static 'assets/images/cta-1-2.png' %}" alt="shape" class="cta-one__image-two">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-one">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-two">
            <div class="cta-one__shape-box-one"></div><!-- /.cta-one__shape-box-one -->
            <div class="cta-one__shape-box-two wow fadeInRight" data-wow-duration="1500ms"></div><!-- /.cta-one__shape-box-two -->
        </section><!-- /.cta-one -->


        <section class="instructors-page section-space">
            <div class="container">
                <div class="instructors-page__carousel eduhive-owl__carousel eduhive-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
                            "items": 1,
                            "margin": 10,
                            "loop": true,
                            "smartSpeed": 700,
                            "nav": false,
                            "dots": true,
                            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
                            "autoplay": true,
                            "responsive": {
                                "0": {
                                    "items": 1,
                                    "nav": true,
                                    "dots": false,
                                    "margin": 10
                                },
                                "768": {
                                    "items": 2,
                                    "margin": 30
                                },
                                "992": {
                                    "items": 3,
                                    "margin": 30
                                }
                            }
                        }'>
                    
                    {% for instructor in instructors %}
                        <div class="item">
                            <div class="instructor-card-two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                                <div class="instructor-card-two__image">
                                    <img src="{{ instructor.image.url }}" alt="{{ instructor.name }}">
                                </div><!-- /.instructor-card-two__image -->
                                <div class="instructor-card-two__content">
                                    <div class="instructor-card-two__info">
                                        <h3 class="instructor-card-two__name">
                                            <a href="">{{ instructor.name }}</a>
                                        </h3><!-- /.instructor-card-two__name -->
                                        <h6 class="instructor-card-two__designation">{{ instructor.designation }}</h6><!-- /.instructor-card-two__designation -->
                                    </div><!-- /.instructor-card-two__info -->
                                </div><!-- /.instructor-card-two__content -->
                            </div><!-- /.instructor-card-two -->
                        </div>
                    {% endfor %}

                    
                    
                    
                </div><!-- /.instructors-page__carousel -->
            </div><!-- /.container -->
        </section><!-- /.instructors-page section-space -->

          {% endblock %}