{% extends "base.html" %}
{% load static %}

{% block content %}

       <section class="cta-one">
            <div class="container">
                <div class="cta-one__content wow fadeInUp" data-wow-duration="1500ms">
                    <h2 class="cta-one__title">Service Details<br>
                       </h2><!-- /.cta-one__title -->
                    <a href="{% url 'contact' %}" class="eduhive-btn">
                        <span>get started now</span>
                        <span class="eduhive-btn__icon">
                            <span class="eduhive-btn__icon__inner"><i class="icon-right-arrow"></i></span>
                        </span>
                    </a><!-- /.eduhive-btn -->
                </div><!-- /.cta-one__conten -->
            </div><!-- /.container -->
            <img src="{% static 'assets/images/cta-1-1.png' %}" alt="shape" class="cta-one__image-one">
            <img src="{% static 'assets/images/cta-1-2.png' %}" alt="shape" class="cta-one__image-two">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-one">
            <img src="{% static 'assets/images/shapes/cta-shape-1-1.png' %}" alt="shape" class="cta-one__shape-two">
            <div class="cta-one__shape-box-one"></div><!-- /.cta-one__shape-box-one -->
            <div class="cta-one__shape-box-two wow fadeInRight" data-wow-duration="1500ms"></div><!-- /.cta-one__shape-box-two -->
        </section><!-- /.cta-one -->

        <section class="event-details section-space-top">
            <div class="container">
                <div class="row gutter-y-40">
                    <div class="col-xl-8 col-lg-7">
                        <div class="event-details__top wow fadeInUp" data-wow-duration="1500ms">
                            
                            <div class="event-details__image">
                                <img src="{{ service.main_image.url }}" alt="{{ service.heading }}">
                                
                            </div><!-- /.event-details__image -->
                            
                            <h3 class="event-details__title event-details__title--top">
                                {{ service.heading }}
                            </h3><!-- /.event-details__title -->
                            
                            <div class="event-details__text-box">
                                <p class="event-details__text">{{ service.details|safe }}</p>
                            </div><!-- /.event-details__text-box -->
                        </div><!-- /.event-details__top -->
                    </div><!-- /.col-xl-8 col-lg-7 -->
                </div><!-- /.row gutter-y-40 -->
            </div><!-- /.container -->
        </section><!-- /.event-details section-space-top -->
        
        

        {% endblock %}